html,
body {
    background-color:rgb(100, 10, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h1,h2 {
    color: white;
    text-align: center;
    border-bottom: red;
    border-style: double;
  }
  
  p {
    font-size: 20px;
    text-align: center;
  }

  ul {
      background-color: lightslategrey;
      background-blend-mode: color-burn ;
      font-size: 20px;
      text-align: justify;
      font-family: 'Times New Roman', Times, serif;
  }

  li {
      text-align: center;
  }

  .outputs {
      background-color: whitesmoke;
  }
  